.form {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 2.4rem;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 1.6rem 0;
    display: flex;
    align-items: center;
}

.input_group {
    margin-bottom: 1.6rem;
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: .6rem;
        padding: 1.6rem;
        text-align: center;
        cursor: pointer;
        border-radius: .8rem;
    }

    input {
        padding: .8rem;
        color: var(--text-normal);
        background-color: var(--bg-input-normal);
        border: none;
        outline: none;

        &:focus {
            border-bottom: 1px solid var(--primary-normal);
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.difficulty {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;

    .title {
        grid-area: 1 / 1 / 2 / 4;
    }

    label {
        transition: .3s all ease-in-out;
    }

    .all {
        grid-area: 2 / 1 / 3 / 4;
        background-color: var(--bg-light-normal);
        text-align: left;
    }

    .high {
        grid-area: 3 / 1 / 4 / 2;
        color: var(--danger-darker);
        background-color: var(--danger-normal);
    }

    .medium {
        grid-area: 3 / 2 / 4 / 3;
        color: var(--warning-darker);
        background-color: var(--warning-normal);
    }

    .low {
        grid-area: 3 / 3 / 4 / 4;
        color: var(--success-darker);
        background-color: var(--success-normal);
    }
}

.theme {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, minmax(100px, auto));
    gap: 1rem;


    .title {
        grid-area: 1 / 1 / 2 / 7;
    }

    label {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mix {
        grid-area: 3 / 1 / 5 / 3;
        color: var(--text-inverted-normal);
        background-color: var(--primary-normal);
    }

    .sciences {
        grid-area: 2 / 1 / 3 / 4;
        color: var(--text-inverted-normal);
        background-color: var(--solid-normal);
    }

    .culture {
        grid-area: 2 / 6 / 3 / 7;
        background-color: var(--secondary-normal);
    }

    .geography {
        grid-area: 3 / 3 / 5 / 4;
        color: var(--text-inverted-normal);
        background-color: var(--bg-inverted-normal);
    }

    .history {
        grid-area: 3 / 4 / 4 / 7;
        background-color: var(--bg-light-normal);
    }

    .sport {
        grid-area: 4 / 4 / 5 / 6;
        background-color: var(--secondary-normal);
    }

    .sociology {
        grid-area: 4 / 6 / 5 / 7;
        color: var(--text-inverted-normal);
        background-color: var(--solid-normal);
    }
}

.types {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

    .title {
        grid-area: 1 / 1 / 2 / 4;
    }

    .solo {
        grid-area: 2 / 1 / 3 / 2;
        background-color: var(--secondary-normal);
    }

    .multi {
        grid-area: 2 / 2 / 3 / 3;
        color: var(--text-inverted-normal);
        background-color: var(--solid-normal);
    }
}

.difficulty:has(.active) label:not(.active),
.theme:has(.active) label:not(.active),
.types:has(.active) label:not(.active) {
    opacity: 0.4;
    filter: blur(1px);
}

.btn_submit {
    margin: 3.2rem 0;
    padding: .8rem 3.2rem;
    align-self: center;
    background-color: var(--primary-normal);
    border: none;
    border-radius: 3.2rem;
    transition: .3s all ease-out;

    &:hover {
        background-color: var(--primary-dark);
    }
}

.required {
    margin-left: 1.6rem;
    font-size: clamp(0.8rem, 0.9rem + 0.2vw, 1.1rem);
    color: var(--primary-normal);
    font-family: "Arvo";
    text-transform: uppercase;
}

.error_msg,
.success_msg {
    font-size: clamp(0.8rem, 0.9rem + 0.2vw, 1.1rem);
    color: var(--danger-normal);
    font-family: "Arvo";
    text-align: center;
}

.success_msg {
    color: var(--success-normal);
}

