.btn_refresh {
    width: fit-content;
    margin: 5rem auto;
    padding: .8rem 3.2rem;
    align-self: center;
    background-color: var(--primary-normal);
    border: none;
    border-radius: 3.2rem;
    transition: .3s all ease-out;

    &:hover {
        background-color: var(--primary-dark);
    }
}

.questions_list {
    width: 90%;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.card {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 1.6rem;
    background-color: var(--bg-light-normal);
    border: 1px solid var(--borders-normal);
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.question {
    width: 90%;
}

.theme {
    width: fit-content;
    margin: 1.6rem 0;
    padding: .3rem .8rem;
    font-size: clamp(1rem, 1.1rem + 0.3vw, 1.4rem);
    text-transform: none;
    color: var(--secondary-light);
    background-color: rgba(206, 39, 197, 0.2);
    border-radius: .5rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.container_answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.6rem;

    @media screen and (min-width:960px) {
        display: flex;
        align-items: center;
        gap: 0;
    }

    &>div {
        margin-right: 1.6rem;
        padding: .3rem .8rem;
        border: 1px solid var(--borders-light);
        border-radius: .8rem;
    }

    .correct_answer {
        color: var(--success-normal);
        border: 1px solid var(--success-normal);
    }
}

.high {
    color: var(--danger-normal);
}

.medium {
    color: var(--warning-normal);
}

.low {
    color: var(--primary-normal);
}

.menu_update {
    font-size: 24px;
    position: absolute;
    bottom: 1rem;
    right: .5rem;
    cursor: pointer;
    z-index: 11;
    transition: .3s all ease-in-out;

    @media screen and (min-width:960px) {
        top: 1rem;
    }

    &:hover {
        color: var(--warning-normal);
    }
}

.container_btn {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -3rem;
    right: 3rem;
    gap: 1rem;
    z-index: 10;

    @media screen and (min-width:960px) {
        top: 0;
    }

    &>button {
        padding: .3rem .8rem;
        font-size: clamp(0.8rem, 0.9rem + 0.2vw, 1.1rem);
        font-weight: bold;
        border-radius: 1.6rem;
    }

    .edit_btn {
        color: var(--info-normal);
        border: 1px solid var(--info-normal);
        background-color: transparent;
        transition: .3s all ease-out;

        &:hover {
            color: var(--text-normal);
            background-color: var(--info-normal);
            border: 1px solid var(--info-dark);
        }
    }

    .delete_btn {
        color: var(--danger-normal);
        border: 1px solid var(--danger-normal);
        background-color: transparent;
        transition: .3s all ease-out;

        &:hover {
            color: var(--text-inverted-normal);
            background-color: var(--danger-normal);
            border: 1px solid var(--danger-dark);
        }
    }
}

.btn_more {
    margin-bottom: 0;
    background-color: var(--info-normal);

    &:hover {
        color: var(--text-normal);
        background-color: var(--info-dark);
    }
}