@use 'sass:color';

//  Palette de base
$palette: (
    text: #F6F4F3,
    text-inverted: #2C3539,
    text-neutral: #A0AEC0,

    bg: #00171F,
    bg-inverted: #f5f5f5,
    bg-input: #0E2A36,
    bg-light: #132730,

    primary: #35FF69,
    primary10: hsl(135, 100%, 60%, 10%),
    secondary: #CE27C5,
    secondary20: hsl(303, 68%, 48%, 20%), 
    secondary10: hsl(303, 68%, 48%, 10%), 
    solid: #14bceb,

    borders: #4A5568,
    shadow: rgba(0, 0, 0, 0.25),

    success: #1fd18a,
    warning: #dfae44,
    danger: #d06262,
    info: #347ada
);

// Déclinaisons tonales
$tones: (
    lighter: 40%,
    light: 20%,
    normal: 0%,
    dark: -20%,
    darker: -40%
);

// Génération des variables CSS
:root {
    @each $name, $color in $palette {
        @each $tone, $adjustment in $tones {
            --#{$name}-#{$tone}: #{color.adjust($color, $lightness: $adjustment)};
        }
    }
}