.main {
    max-width: 1100px;
    padding: 5rem 0;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media screen and (min-width:960px) {
        flex-direction: row;
        gap: 0;
    }
}

.sidebar {
    width: 100%;
    padding: 1.6rem;
    background-color: var(--bg-input-normal);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.6rem;
    border-radius: .8rem;

    @media screen and (min-width:960px) {
        width: 20%;

    }
}

.dash_item {
    width: 90%;
    margin: 0 auto;
    padding: .8rem 1.6rem;
    color: var(--text-normal);
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;

    &>span {
        opacity: .6;
    }

    &>span:first-child {
        width: 100px;
        font-size: 24px;
        color: var(--solid-normal);
    }

    &>span:last-child {
        margin-left: 1.6rem;
    }

    &.user_profile {
        margin-bottom: 2.6rem;
        border-bottom: 1px solid var(--borders-normal);

        &>span {
            opacity: 1;
        }
    }

    &:hover>span {
        opacity: 1;
    }
}

.isSelected {
    background-color: var(--secondary20-normal);
    border-radius: 3.2rem;
}

.dash_tiles {
    width: 100%;
    position: relative;
}