.popup {
    max-width: 900px;
    width: 100%;
    max-height: 85vh;
    padding: 3.2rem;
    color: var(--text-normal);
    text-align: center;
    background-color: var(--bg-input-normal);
    background: linear-gradient(145deg, var(--bg-input-normal), var(--bg-light));
    border: 1px solid var(--borders-light);
    box-shadow: 0 0 5px 5px var(--shadow-light);
    border-radius: 2.4rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    overflow-y: scroll;
    animation: fadeIn 0.4s ease-out;

    @media screen and (min-width:576px) {
        width: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .color_bar {
        height: 4px;
        background: linear-gradient(120deg, var(--primary-normal), var(--solid-normal), var(--secondary-normal));
        border-top-left-radius: 2.4rem;
        border-top-right-radius: 2.4rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .title_color {
        width: fit-content;
        margin: auto;
        background: linear-gradient(120deg, var(--primary-normal), var(--solid-normal), var(--secondary-normal));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.answer_summary {
    margin-top: 2rem;
    list-style: none;
    padding: 1.6rem;
    color: var(--text-normal);
    text-align: left;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    gap: 1.6rem;

    @media screen and (min-width:960px) {
        grid-template-columns: repeat(2, minmax(400px, 1fr));
    }

    &>li>* {
        display: inline-block;
    }
}

.answer_summary li {
    margin-bottom: 1.6rem;
    padding: 1rem;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;

    .correct,
    .incorrect {
        width: 100%;
        margin-top: 1.6rem;
        border-radius: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &>span {
            height: 100%;
            margin: 0 1rem;
            display: flex;
            align-items: center;
        }
    }
}

.ques {
    padding-bottom: 1.6rem;
    margin-bottom: 1.6rem;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    flex-grow: 1;
}

.answer_summary li:nth-child(4n+1) {
    border: 1px solid var(--solid-normal);
    background-color: rgba(20, 188, 235, 0.1);

    .ques, .incorrect, .correct {
        color: var(--solid-normal);
    }

    em {
        color: var(--solid-light);
    }
}

.answer_summary li:nth-child(4n+2) {
    border: 1px solid var(--warning-normal);
    background-color: rgba(223, 174, 68, 0.1);

    .ques, .incorrect, .correct {
        color: var(--warning-normal);
    }

    em {
        color: var(--warning-light);
    }
}

.answer_summary li:nth-child(4n+3) {
    border: 1px solid var(--secondary-normal);
    background-color: rgba(206, 39, 197, 0.1);

    .ques, .incorrect, .correct {
        color: var(--secondary-normal);
    }

    em {
        color: var(--secondary-light);
    }
}

.answer_summary li:nth-child(4n) {
    border: 1px solid var(--primary-normal);
    background-color: rgba(53, 255, 105, 0.1);

    .ques, .incorrect, .correct {
        color: var(--primary-normal);
    }

    em {
        color: var(--primary-light);
    }
}

.btn {
    margin: 3.2rem 0;
    padding: 1.6rem 3.2rem;
    color: var(--text-inverted-normal);
    font-weight: bold;
    background: linear-gradient(120deg, var(--primary-normal), var(--solid-normal));
    border: none;
    border-radius: 1.6rem;
    align-self: center;
    transition: .3s all ease-out;
    cursor: pointer;

    &:hover {
        color: var(--text-light);
        background-color: var(--primary-normal);
        border: none;
        box-shadow: 0 20px 80px -10px var(--primary-normal);
        transform: translate(0, -3px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}