.solo_game {
    max-width: 700px;
    width: 90%;
    margin: 5rem auto;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;

    hgroup {
        display: flex;
        flex-direction: column;

        h3 {
            color: var(--primary-light);
        }

        h6 {
            color: var(--primary-normal);
        }
    }

    .timer {
        text-align: right;

        h3 {
            color: var(--primary-normal);
        }
    }
}

.container_progress_bar {
    margin: 2.4rem auto;
    width: 100%;
    height: 1rem;
    background-color: var(--bg-input-normal);
    border-radius: 3.2rem;

    .progress_bar {
        width: 0%;
        height: 1rem;
        background-color: var(--primary-normal);
        border-radius: 3.2rem;
        transition: .3s all ease-in-out;
    }
}

.container_question {
    width: 100%;
    margin: 0 0 2.4rem;
    padding: 3.2rem;
    color: var(--primary-light);
    background-color: var(--bg-input-normal);
    border-radius: .8rem;

    .theme {
        width: fit-content;
        padding: .8rem;
        color: var(--secondary-normal);
        padding: .3rem .8rem;
        font-size: clamp(1rem, 1.1rem + 0.3vw, 1.4rem);
        background-color: rgba(206, 39, 197, 0.2);
        border: 1px solid var(--secondary-normal);
        border-radius: 3.2rem;
    }

    h4 {
        padding: 2.4rem 0;
        color: var(--text-normal);
        text-align: center;
    }

    .container_answers {
        border-radius: .8rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        button {
            color: var(--text-normal);
            background-color: transparent;
            border-radius: .8rem;
            border: 1px solid var(--borders-normal);
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            transition: .3s all ease-out;

            &:hover {
                background-color: var(--bg-light-normal);
            }

            &>span:last-child {
                display: flex;
                align-items: center;
            }
        }

        .correct {
            color: var(--success-darker);
            background-color: var(--success-normal);

            &:hover {
                color: var(--success-darker);
                background-color: var(--success-normal);
            }
        }

        .incorrect {
            color: var(--danger-darker);
            background-color: var(--danger-normal);

            &:hover {
                color: var(--danger-darker);
                background-color: var(--danger-normal);
            }
        }
    }
}

.btn_next {
    width: 100%;
    background-color: var(--primary-normal);
    border-radius: .8rem;
    border: none;
    cursor: pointer;
    transition: .3s all ease-out;

    &:hover {
        box-shadow: 0 0 35px -10px var(--primary-normal);
        transform: translate(0, -3px);
    }
}

.feedback {
    padding: 2rem 0;
    text-align: center;
}