.nav {
    display: flex;
    justify-content: end;
    align-items: center;

    a {
        margin: 0 1.6rem;
        color: var(--text-normal);
        display: inline-block;
        text-decoration: none;

        &:hover {
            color: var(--primary-normal);
        }
    }
}

a.active {
    color: var(--primary-normal);
}