.form {
    max-width: 500px;
    width: 100%;
    padding: 2.4rem;
    background: linear-gradient(145deg, var(--bg-input-normal), var(--bg-light));
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input_group {
    margin-bottom: 1.6rem;
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: .6rem;
    }

    input,
    select,
    option,
    textarea {
        padding: .8rem;
        color: var(--text-normal);
        background-color: var(--bg-input-normal);
        border-radius: .8rem;
        border: none;
        outline: none;

        &:focus {
            border-bottom: 1px solid var(--primary-normal);
        }
    }

    input[placeholder]:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.container_btn {
    display: flex;
    justify-content: space-around;
}

.btn_back {
    padding: .8rem 3.2rem;
    color: var(--text-normal);
    background-color: transparent;
    border: 2px solid var(--borders-normal);
    border-radius: 3.2rem;
    transition: .3s all ease-out;
    align-self: center;

    &:hover {
        color: var(--text-light);
        background-color: rgba(107, 114, 128, 0.2);
        border: 2px solid var(--borders-light);
    }
}

.btn_submit {
    margin: 3.2rem 0;
    padding: .8rem 3.2rem;
    align-self: center;
    background-color: var(--primary-normal);
    border: none;
    border-radius: 3.2rem;
    transition: .3s all ease-out;

    &:hover {
        background-color: var(--primary-dark);
    }
}

.required {
    margin-left: 1.6rem;
    font-size: clamp(0.8rem, 0.9rem + 0.2vw, 1.1rem);
    color: var(--primary-normal);
    font-family: "Arvo";
    text-transform: uppercase;
}

.error_msg,
.success_msg {
    font-size: clamp(0.8rem, 0.9rem + 0.2vw, 1.1rem);
    color: var(--danger-normal);
    font-family: "Arvo";
    text-align: center;
}

.success_msg {
    color: var(--success-normal);
}