.main {
    display: flex;
    flex-direction: column;
    position: relative;
}

.btn_options {
    margin: 0 auto 3rem;
    display: block;
    padding: 1rem;
    color: var(--primary-darker);
    background-color: var(--primary-normal);
    border: 1px solid var(--primary-darker);
    border-radius: 50%;
    position: relative;

    &::before {
        content: "Modifier ou supprimer des questions";
        width: 300px;
        height: fit-content;
        padding: .8rem 1.6rem;
        font-size: 1.2rem;
        color: var(--primary-darker);
        background-color: var(--primary-light);
        border: 1px solid var(--primary-dark);
        border-radius: .8rem;
        position: absolute;
        top: -5rem;
        left: -13rem;
        opacity: 0;
        transition: .3s all ease-in-out;
    }

    &::after {
        content: '';
        width: 10px;
        height: 10px;
        background-color: var(--primary-dark);
        position: absolute;
        top: -1.8rem;
        left: 50%;
        transform: rotate(45deg) translateX(-50%);
        z-index: -1;
        opacity: 0;
        transition: .3s all ease-in-out;
    }

    &:hover {
        background-color: var(--primary-dark);
    }

    &:hover::before,
    &:hover::after {
        opacity: 1;
    }
}

.btn_back {
    margin: 2rem auto 5rem;
    padding: .8rem 3.2rem;
    color: var(--text-normal);
    background-color: transparent;
    border: 2px solid var(--borders-normal);
    border-radius: 3.2rem;
    transition: .3s all ease-out;
    align-self: center;

    &:hover {
        color: var(--text-light);
        background-color: rgba(107, 114, 128, 0.2);
        border: 2px solid var(--borders-light);
    }
}