.form {
    max-width: 500px;
    width: 100%;
    margin: 5rem auto;
    padding: 2.4rem;
    border-radius: 2.4rem;
    display: flex;
    flex-direction: column;
}

.input_group {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: .6rem;
    }

    input, select, option {
        padding: .8rem;
        color: var(--text-normal);
        background-color: var(--bg-input-normal);
        border-radius: .8rem;
        border: none;
        outline: none;

        &:focus {
            border-bottom: 1px solid var(--primary-normal);
        }
    }

    input[placeholder]:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.btn_submit {
    margin: 3.2rem 0;
    padding: .8rem 3.2rem;
    align-self: center;
    background-color: var(--primary-normal);
    border: none;
    border-radius: 3.2rem;
    transition: .3s all ease-out;

    &:hover {
        background-color: var(--primary-dark);
    }
}

.required {
    margin-left: 1.6rem;
    font-size: clamp(0.8rem, 0.9rem + 0.2vw, 1.1rem);
    color: var(--primary-normal);
    font-family: "Arvo";
    text-transform: uppercase;
}

.error_msg, .success_msg {
    font-size: clamp(0.8rem, 0.9rem + 0.2vw, 1.1rem);
    color: var(--danger-normal);
    font-family: "Arvo";
    text-align: center;
}

.success_msg {
    color: var(--success-normal);
}