.menu_burger {
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary-normal);
    border-radius: 10px;
    position: relative;
    transition: .3s all ease-in-out;
    z-index: 1000;
}

.line {
    width: 65%;
    height: 2px;
    background-color: var(--primary-normal);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transition: .3s all ease-in-out;
}

.top {
    top: 30%;
    transition: .3s all ease-in-out .2s;
}

.bottom {
    top: 70%;
    transition: .3s all ease-in-out .2s;
}

.isOpen {
    rotate: 180deg;
    border: 2px solid var(--secondary-normal);

    & .line {
        background-color: var(--secondary-normal);
    }
    & .top {
        width: 40%;
    }
    & .bottom {
        width: 20%;
    }
}

.panel {
    width: 80vw;
    height: 30vh;
    background-color: var(--bg-dark);
    border-radius: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 10%;
    z-index: 1;

    a {
        margin: .8rem 0;
        color: var(--text-normal);
        display: inline-block;
        text-decoration: none;

        &:hover {
            color: var(--primary-normal);
        }
    }
    a[title="Log out"] {
        display: flex;
        justify-content: center;
        align-items: center;

        &>span {
            margin-left: .8rem;
        }
    }
}

a.active {
    color: var(--primary-normal);
}